.fb-post-div{
    width: 470px;
    margin: 20px auto;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgb(200, 200, 200);
  }
  
  .btn-div{
    display: flex;
    width: 100%;
  }

.post-info{
  padding: 15px;
}

.profile-img-div{
  display: flex;
  align-items: center;
}

.profile-div{
  display: flex;
  align-items: center;
}

.profile-img{
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.post-title{
  font-size: 15px;
  font-weight: bold;
  color: rgb(14, 73, 175);
  line-height: 0;
}
.description{
  margin: 10px 0 -18px;
}
.sponsored-div{
    display: flex;
    align-items: center;
}

.emoji-div{
  display: flex;
  align-items: center;
}

.emoji-img{
  width: 18px;
  height: 18px;
   margin: 5px 0px;
}

.userName{
  display: flex;
  align-items: center;
}

.userName p{
  font-size: 12px;
  margin: 5px;
}

.btn-div{
  border-top: 1px solid rgb(200, 200, 200);
}